html {
  height: 100vh;
  width: 100vw;
  /* background-image: url('../images/Algarve-photo-1.png'); */
  background-position: center;
  background-size: 300vmin;
}

body {
  /* background: green; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url('../images/Algarve-photo-1.png');
  background-size: 150%;
  height: 100vh;
  width: 100vh;
  /* background-image: url('../images/Algarve-photo-2.png');
  background-position: stretch;
  background-size: 200% */
}

/******* General *******/

h1, input, select {
  margin: 10px;
}

.alt-text {
  color: white;
}

/******* Login Form *******/

.login-page {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.login-form-container {}

.login-form {
  display: flex;
}

/******* Nav *******/

nav {
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 85vw;
  border-radius: 50px;
  /* min-width: 800px; */
}

.profile-icons {
  display: flex;
  align-items: center;
}

/******* Dashboard *******/

.dashboard {
  /* height: 80vh; */
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/******* Form *******/

.trip-form {
  background: white;
  border-radius: 50px;
  width: 80vw;
  height: 20px;
  margin: 20px;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.trips-list {
  height: 40vh;
  width: 100vw;
  background: black;
  margin: 20px;
}

/* .date-box {
  margin: 5px;
} */

/******* Reels *******/

/* .upcoming-trips, .past-trips, .pending-trips {} */

.reel {
  background: white;
  height: 20vh;
  min-width: 80vw;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}

/* .upcoming-reel, .past-reel, .pending-reel {} */

.slide {
  overflow-x: auto;
  overflow-y: hidden;
  text-align: center;
  padding: 20px;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.trip-box {
  flex: 1 0 auto;
  background: black;
  /* height: 200px; */
  height: 100%;
  width: ;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  overflow: hidden;
}

.photo {
  height: 100%;
  width: 100%;
  /* overflow: hidden; */
}

.photo-title {
  position: relative;
  top: 50px;
  /* top: 20%; */
}

.photo-text {
  position: relative;
  bottom: 20px;
  left: 10px;
}

/******* Functional *******/

.hidden {
  display: none!important;
}
