html {
  height: vh;
  width: vw;
  background-image: url('../images/Algarve-photo-1.png');
  background-position: center;
  background-size: 300vmin;
}

body {
  /* background: green; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* background-image: url('../images/Algarve-photo-2.png');
  background-position: stretch;
  background-size: 200% */
}

/******* Nav *******/

nav {
  background: red;
  display: flex;
  justify-content: space-between;
  height: 70px;
  /* width: vw; */
  min-width: 600px;
}

.profile-icons {
  display: flex;
  align-items: center;
}

/******* Dashboard *******/

.dashboard {
  /* height: 80vh; */
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.trip-form {
  background: blue;
  width: 50vw;
  height: 20px;
  margin: 20px;
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

.trips-list {
  height: 100%;
  width: 85vw;
}

/* .upcoming-trips, .past-trips, .pending-trips {} */

.reel {
  background: yellow;
  height: 30vh;
  width: 80vw;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  /* flex-wrap: nowrap;  */
}

/* .upcoming-reel, .past-reel, .pending-reel {} */

.slide {
  overflow-x: auto;
  overflow-y: hidden;
  text-align: center;
  padding: 20px;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.trip-box {
  background: purple;
  height: 200px;
  width: 240px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  /* flex-flow: wrap; */
  /* overflow: hidden; */
  /* align-items: center; */
}

.photo {
  height: 150%;
  width: 150%;
  /* overflow: hidden; */
}

.photo-title {
  position: relative;
  top: 50px;
  left: 10px;
  /* top: 20%; */
}

.photo-text {
  position: relative;
  bottom: 20px;
  left: 10px;
}

/* Test */
